# Environment variables / secrets
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid
celerybeat-schedule*

# Database backup
backend/trackflow_backup.dump

# Generated FAISS index
ai_service/faiss_index/